Django==1.11.5
django-toolbelt==0.0.1
line-bot-sdk==1.5.0
pya3rt==1.1
python-dateutil==2.6.0
requests==2.18.4
requests-oauthlib==0.8.0
gunicorn==19.9.0
pbr==4.2.0
psycopg2==2.7.5
six==1.11.0
stevedore==1.29.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2